.chat-flex {
    width: 360px;
    height: 820px;
    border-radius: 4px;
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    overflow: auto;
}

.chat-flex .place-holder {
    background: black;
    flex-grow: 1;
    flex-shrink: 1;
}
